<h1>Square Root Calculation</h1>

<form action="/square_root/results">
    <label for="user_input">Enter a number</label>
    <input id ="user_input" type="text" name="user_number" placeholder="what number do you want square root of" required>
    <br>
    <button>Calculate square root</button>
</form>