<h1>Square Calculation</h1>

<form action="/square/results">
    <label for="user_input">Enter a number</label>
    <input id="user_input" type="text" name="user_number">
    <br>
    <button>Calculate square</button>
</form>