<h1>Payment Calculation</h1>

<form action="/payment/results">
    <label for="apr_input">APR</label>
    <input id="apr_input" type="number" name="user_apr">
    <br>
    <label for="yrs_input">Number of years</label>
    <input id="yrs_input" type="number" name="user_years">
    <br>
    <label for="pv_input">Principal</label>
    <input id="pv_input" type="number" name="user_pv">
    <br>
    <button>Calculate monthly payment</button>
</form>
