<h1>Random Calculation</h1>

<form action="/random/results">
    <label for="min_input">Minimum</label>
    <input id="min_input" type="number" name="user_min" required placeholder="E.g. 1.5">
    <br>
    <label for="max_input">Maximum</label>
    <input id ="max_input" type="number" name="user_max" required placeholder="E.g. 4.5">
    <br>
    <button>Pick random number</button>
</form>


