<!DOCTYPE html>
<html>
<head>
  <title>OmnicalcParams</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all' %>

  <!-- Connect to Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

  <!-- Connect to Font Awesome CSS -->
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

  <!-- Connect to Bootstrap Javascript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>

  <%= javascript_include_tag 'application' %>
</head>

<body>
  <div class="container">
    <div>
      <table class="table">
        <tbody>
          <tr>
            <th scope="row">Part I Targets</th>
            <td><a href="/flexible/square/:the_num">Flexible Square Example</a></td>
            <td><a href="/flexible/square_root/:input">Flexible Square Root Example</a></td>
            <td><a href="/flexible/payment/:basis_points/:time_yrs/:loan_amount">Flexible Payment
            Example</a></td>
            <td><a href="/flexible/random/:num1/:num2">Flexible Random Example</a></td>
          </tr>
          <tr>
            <th scope="row">Part II Targets</th>
            <td><a href="/square/new">Square Form</a></td>
            <td><a href="/square_root/new">Square Root Form</a></td>
            <td><a href="/payment/new">Payment Form</a></td>
            <td><a href="/random/new">Random Form</a></td>
          </tr>
          <tr>
            <th scope="row">Part III Targets</th>
            <td>Word Count Form</td>
            <td>Stats Form</td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <%= yield %>
  </div>

  <div class="rails-toolbar">
    <a href="/git" target="_blank" class="rails-toolbar-button">
      Git
    </a>
  </div>
  

  
</body>
</html>
